.DS_Store
tags
.idea
__pycache__
.vscode
utils/__pycache__
build
extract.sh
dist
*.egg-info
ogre/output
example_POSCARs/ASE_surface.POSCAR.vasp
example_POSCARs/Ogre_Surface.POSCAR.vasp
example_POSCARs/POSCAR.vasp
ogre/Ogre*
output
aspirin_*
ASPIRIN/
HOJCOB/
run.sh
save.sh
interplanar_distance.py
PENCEN/
QQQCIG04/
TETCEN/
UNOGIN03/


