.DS_Store
tags
.idea
__pycache__
.vscode
utils/__pycache__
build
extract.sh
dist
*.egg-info
output
aspirin_*
ASPIRIN/
aspirin/
HOJCOB/
run.sh
save.sh
interplanar_distance.py
PENCEN/
QQQCIG04/
TETCEN*
HMX/
UNOGIN03/
pbeplot.py