.DS_Store
tags
.idea
__pycache__
.vscode
utils/__pycache__
build
dist
*.egg-info
ogre/output
example_POSCARs/ASE_surface.POSCAR.vasp
example_POSCARs/Ogre_Surface.POSCAR.vasp
example_POSCARs/POSCAR.vasp
ogre/Ogre*