[io]
scf_path = /Users/sunny/Desktop/SCF
structure_path = structures/relaxed_structures/TETCEN.cif
structure_name = TETCEN_tight
[methods]
fitting_method = 0
; 0 is linear method, 1 is Boettger method.
[Wulff]
Wulff_plot = True
; Wehther to plot the Wulff diagram
projected_direction = 1 1 10
; projected_direction for Wulff diagram
[convergence]
threshhold = 5
consecutive_step = 2
; If for N consecutive steps, the difference is smaller than threshhold, then it is converged.