[io]
structure_path = ./structures/IZUZUZ.in
structure_name = IZUZUZ_test
format = FHI
; Format can be FHI, VASP or CIF

[methods]
cleave_option = 1
;0: cleave a single surface, 1: cleave surfaces for surface energy calculations

[parameters]
layers = 1-6
; Layers could be specified as combination of start-end or separate numbers by space
vacuum_size = 40
highest_index = 3
; Only needed in cleave_option = 1， ignored in cleave_option = 0
supercell_size = None
miller_index = 3 3 3 
; Only needed in cleave_option = 0, ignored in cleave_option = 1
